body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#606c71
}
h1 {text-align: center;}
h2 {margin-left: 400px;
    font-weight:bold}
h3 {margin-left: 400px;
    font-weight:normal;
}

a {
    color: #1e6bb8;
    text-decoration:none
}



.project_header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image:linear-gradient(120deg, #155799, #159957)
}
@media screen and (min-width: 64em) {
    .project_header {
        padding:8rem 8rem
    }
}

@media screen and (min-width: 42em) and(max-width: 64em) {
    .project_header {
        padding:3rem 4rem
    }
}

@media screen and (max-width: 42em) {
    .project_header {
        padding:2rem 1rem
    }
}


.project_name {
    margin-top: 0;
    margin-bottom:0.1rem
}
@media screen and (min-width: 64em) {
    .project_name {
        font-size:3.25rem
    }
}

@media screen and (min-width: 42em) and(max-width: 64em) {
    .project_name {
        font-size:2.25rem
    }
}

@media screen and (max-width: 42em) {
    .project_name {
        font-size:1.75rem
    }
}



.introduction, .method,.result{
    margin-left: 400px;
    margin-right: 600px;
}
